

.nav-container {
  display: flex;
  width: 100%;
  background-color: aqua
}

body {
  margin: 0px;
}

.nav-button {
  flex: 1;
}

.centered-text{
  text-align: center;
}


.most-recent-main-container {
  margin-top: 100px;
  height: 1000px;
  display: flex;
  flex-direction: column;
}

.most-recent-main {
  flex: 1;
  height: 50%;
}

.top {
  margin-bottom: 75px;
}

.most-recent {
  margin-left: 10%;
  margin-right: 10%;
  border: solid black 1px;
  height: 100%
}

.hidden{
  display: none;
}

.sign-up{
  margin-top: 100px;
  height: 500px;
}

.login {
  margin-top: 100px;
  height: 500px;
  border: 1px solid black;
}

.current-avatar {
  width: 100px;
  height: 100px;
  margin-left: 40%;
}


@media only screen and (min-width: 700px) {
  .sign-up {
     margin-left: 25%;
     margin-right: 25%;
  }

  .login {
    margin-left: 33%;
    margin-right: 33%;
  }

  .application-box {
    margin-left: 25%;
    margin-right: 25%;
  }

  .character-portrait {
    margin-left: 36.5%;
    margin-right: 37.5%;
  }

  .most-recent-main-container {
    flex-direction: row;
  }
}
.aria-friendly-label {
  display: none;
}

.sign-up-parent {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.sign-up-child {
  flex: 1;
  margin-top: 10px;
}

.login-parent {
  display: flex;
  flex-direction: column;
}

.login-child {
  flex: 1;
  margin-bottom: 10px;
}

.entire-form-container {
  display: flex;
}

.application-box {
  margin-top: 100px;
  height: 500px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.application-container {
  display: flex;
  flex: 1;

}

.application-item {
  flex: 1;
}

.application-buttons {
  flex: 1;
}

.application-header {
  flex: 1;
}
















