
.current-user p {
  display: hidden;
  font-size: 0px;
}


.homepage-navbar {
  display: flex;
}

.homepage-signup {
  flex: 1;
}

.homepage-login {
  flex: 1;
}


.nav-container {
  display: flex;
  width: 100%;
  background-color: lightblue
}

body {
  margin: 0px;
}

.nav-button {
  flex: 1;
}


.parent-width {
  width: 100%;
  border-radius: 10px;
}

.block {
  display: block;
}

.centered-text{
  text-align: center;
}


.most-recent-main-container {
  margin-top: 100px;
  height: 1000px;
  display: flex;
  flex-direction: column;
}

.most-recent-main {
  flex: 1;
  height: 50%;
}

.top {
  margin-bottom: 75px;
}

.most-recent {
  margin-left: 10%;
  margin-right: 10%;
  border: solid black 1px;
  height: 100%
}

.fa-edit, .fa-trash-alt {
  font-size: 25px;
}


.hidden{
  display: none;
}

.sign-up{
  margin-top: 100px;
  height: 500px;
}

.password-validation {
  padding-top: 75px;
}

.login {
  margin-top: 100px;
  height: 500px;
  border: 1px solid black;
}

.current-avatar {
  width: 100px;
  height: 100px;
  margin-left: 40%;
}

 .not-on-small-screens {
    display: none;
  }

@media only screen and (max-width: 700px) {
  .application-modal, .event-modal {
    top: 0;
    left: 0;
  }

  .balance-div {
  display: none;
  }
}
  


@media only screen and (min-width: 700px) {
  .balance-div {
    flex: 2;
  }

  .sign-up {
     margin-left: 25%;
     margin-right: 25%;
  }

  .login {
    margin-left: 33%;
    margin-right: 33%;
  }

  .application-box {
    margin-left: 25%;
    margin-right: 25%;
  }

  .event-box {
    margin-left: 25%;
    margin-right: 25%;
  }

  .character-portrait {
    margin-left: 36.5%;
    margin-right: 36.5%;
  }

  .most-recent-main-container {
    flex-direction: row;
  }

   .not-on-small-screens {
    display: block;
  }

  .fa-edit, .fa-trash-alt {
  font-size: 25px;
  }

  .create-application, .create-event {
    margin-left: 25%;
  }

  .application-modal, .event-modal {
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 100px;
  }  



}
.aria-friendly-label {
  display: none;
}

.sign-up-parent {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.sign-up-child {
  flex: 1;
  margin-top: 10px;
}

.login-parent {
  display: flex;
  flex-direction: column;
  padding-bottom: 55px;
}

.login-child {
  flex: 1;
  margin-bottom: 10px;
}

.entire-form-container {
  display: flex;
}

.application-box, .event-box {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
}



html, body {
    margin: 0;
    min-height: 100%;
}

body {
    position: relative; /* needed for the overlay to extend when you scroll */
    /* general styles */
    font-family: 'Open Sans', sans-serif;
    background: darkgrey;
    color: whitesmoke;
}

.application-overlay, .event-overlay{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 10;
}

.application-modal, .event-modal {
    top: 0;
    left:0;

    height: 500px;
    position: fixed;
    background-color: #f1c40f;
    border-radius: 10px;
    text-align: center;
    z-index: 11; 
}

.application-container, .event-container {
  display: flex;
  height: 55px;
  flex: 1;
  align-items: center;

}

.application-item, .event-item {
  flex: 2;
}

.application-item h2, .event-item h2 {
  font-size: 22px;
}

.application-button, .event-button {
  flex: 1;
  justify-content: center;
}

.application-header, .event-button {
  flex: 1;
}

.list-legend {
}

.fa-marker, .fa-minus-circle {
  font-size: 20px;
}

.application-exit, .event-exit {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 8px;
  font-size: 20px;
  margin: 0;
}

.user-confirm {
  padding-top: 100px;
}

.new-application-form, .new-event-form {
  display: flex;
  width: 100%;
  height: 90%;
}

.new-application, .new-event{
  flex: 1;
  display: flex;
  flex-direction: column;
}

.new-application-header, .new-event-header {
  padding-top: 25px;
  font-size: 25px;
  margin-bottom: 25px;
  flex: 1;
}
.new-application-form-input, .new-event-form-input{
  margin-bottom:40px;
  border-radius: 10px;
  flex: 1;
}

.align-self-center {
  align-self: center;
}

input[type='checkbox'] {
    width:30px;
    height:30px;
    background:white;
    border-radius:5px;
    border:2px solid #555;
}

input[type='checkbox']:checked {
    background: #abd; 
}


.input-checkbox {
  font-size: 20px;
}

.submit-and-quotes {
  display: flex;
  flex-direction: column;
  flex: 1;
  j
}

.application-character-portrait, .event-character-portrait {
  flex: 1;
  padding-top: 10px;
  
}

.application-submit-button-container, .event-submit-button-container {
  flex: 1;  
}

.application-submit-button, .event-submit-button {
  width: 75%;
  height: 85%;
  margin: 0 auto;
  border-radius: 10px;
}

.application-submit-button p, .event-submit-button p {
  font-size: 20px;
}















