/*Basic grid design for some elements in the app*/
.row {
  max-width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

.row::before,
.row::after {
  display: table;
  content: '';
}

.row::after {
  clear: both;
}

col-2,.col-4, .col-6, col-12 {
  float: left;
  padding-left: 1.04166666%;
  padding-right: 1.04166666%;
  width: 100%;
}

@media only screen and (min-width: 700px) {

  .col-2 {
    width: 16.67%
  }

  .col-4 {
    width: 33.33%;
  }

  .col-6 {
    width: 50%;
  }

  col-12 {
    width:100%;
  }

}

